<!DOCTYPE html>
<html lang="en" >
<head>
  <title>Submit Form</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
  <div>
    <form #userForm="ngForm" (ngSubmit) = "onSubmit(userForm)">
        <table>
            <tr>
              <td>First Name:</td>
              <td>
                <input type="text"  name = "firstname" ngModel required />
              </td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td>
                  <input type="text" name = "lastname" ngModel required />
                </td>
              </tr>
            <tr>
              <td>E-mail address</td>
              <td><input type="email" name = "email" ngModel required /></td>
            </tr>
            <tr>
                <td>Position:</td>
                <td>
                  <select name="position" ngModel required>
                  <option *ngFor="let position of positions">{{position}}</option>
                  </select>
                </td>
            </tr>
            <tr>
                <td>Resume:</td>
                <td>
                    <input type = "file" name = "resumefile" accept=".pdf,.doc,.docx" required/>
                </td>
                <td></td>
            </tr>
          </table>
          <br>
          <button type="button" (click)="onUpload()">Upload</button><br>
          <br>
          <button type="button" (click)="userList()">List</button><br>
          <br>
          <P><button type="submit" [disabled]='userForm.invalid' value="submit" name="submit">Submit</button></P>
    </form>
    <p [hidden]='!userForm.invalid' style='color: red;'>Please Fill all the details</p>
  </div>
</body>
</html>
