<!DOCTYPE html>
<html lang="en" >
<head>
  <title>Submit Form</title>
  <link rel="stylesheet" type="css" href="/Users/shabarishkesa/resume-app/src/app/managerform/managerform.component.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <div [hidden] = loggedin style = "text-align: center;" class="login-form" >
    <form #loginform="ngForm" (ngSubmit) = "login(loginform)" >
        <h2 class="text-center">Log in</h2>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" required="required" type="text"  name = "username" ngModel required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" required="required" type="password" name = "password" ngModel required>
        </div>
        <div class="form-group">
            <button type="submit" [disabled]='loginform.invalid' value="submit" name="submit" class="btn btn-primary btn-block">Log in</button>
        </div>
    </form>
    <p [hidden]='!loginform.invalid' style='color: red;'>Please Fill username and password details</p>
  </div>


  <div [hidden] = !loggedin>
  <div>
      <!-- <div style = "text-align: center;"><button ej-button class='e-flat' (click)='deletegrid()'> Delete </button></div><br> -->
      <ejs-grid #grid [dataSource]='user' [selectionSettings]='selectionOptions' [allowSorting]="true" allowPaging='true'  [enableHover]="false"
       [toolbar]='toolbarOptions'>
          <e-columns>
              <!-- <e-column type='checkbox' width='50'></e-column> -->
              <e-column field='firstname' headerText='First Name'></e-column>
              <e-column field='lastname' headerText='Last Name' ></e-column>
              <e-column field='email' headerText='Email ID'  format='C2' ></e-column>
              <e-column field='position' headerText='Position Applied'></e-column>
          </e-columns>
      </ejs-grid>
      <br><div style = "text-align: center;"><button type="button"  ejs-button cssClass="e-primary" (click)='deletegrid()'><span class="glyphicon glyphicon-trash"></span> Delete User</button></div>
  </div>
  <!-- <table *ngFor = "let user of userslist">
    <tr>
      <td>
        <div>{{user.firstname}}</div>
      </td>
    </tr>
    <tr>
      <td>
        <div>{{user.lastname}}</div>
      </td>
    </tr>
     <tr>
      <td>
        <div>{{user.email}}</div>
      </td>
    </tr>
    <tr>
      <td>
        <div>{{user.position}}</div>
      </td>
    </tr>
    <tr>
      <td>
        <button (click)="delete(user)">Delete Applicant</button>
      </td>
    </tr>
  </table> -->
  <br>
  <div [hidden] = !loggedin style = "text-align: center;"><button class="btn btn-default btn-sm" (click)="logout()">Log Out</button></div>
</div>
</body>
</html>
