<!DOCTYPE html>
<html lang="en" >
<head>
  <title>Submit Form</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
  <div [hidden] = loggedin>
    <form #loginform="ngForm" (ngSubmit) = "login(loginform)">
        <table>
            <tr>
              <td>Username:</td>
              <td>
                <input type="text"  name = "username" placeholder="Username" ngModel required />
              </td>
            </tr>
            <tr>
                <td>Password:</td>
                <td>
                  <input type="password" name = "password" placeholder="password" ngModel required />
                </td>
              </tr>
          </table>
          <br>
          <P><button type="submit" [disabled]='loginform.invalid' value="submit" name="submit">Login</button></P>
          <br>
    </form>
    <p [hidden]='!loginform.invalid' style='color: red;'>Please Fill username and password details</p>
  </div>
  <app-display></app-display>

  <div [hidden] = loggedin>
  <div>Here comes the display users component</div>
  <div>
      <ejs-grid [dataSource]='user' [allowSorting]="true" allowPaging='true' allowDeleting = "true" [enableHover]="false" [allowSelection]="true" [selectionSettings]="selectOptions"
      [editSettings]='editSettings' [toolbar]='toolbar'>
          <e-columns>
              <!-- <e-column type='checkbox' width='50'></e-column> -->
              <e-column field='firstname' headerText='First Name'></e-column>
              <e-column field='lastname' headerText='Last Name' ></e-column>
              <e-column field='email' headerText='Email ID'  format='C2' ></e-column>
              <e-column field='position' headerText='Position Applied'></e-column>
          </e-columns>
      </ejs-grid>
  </div>
  <table *ngFor = "let user of userslist">
    <tr>
      <td>
        <div>{{user.firstname}}</div>
      </td>
    </tr>
    <tr>
      <td>
        <div>{{user.lastname}}</div>
      </td>
    </tr>
    <!-- <tr>
      <td>
        <div>{{user.email}}</div>
      </td>
    </tr>
    <tr>
      <td>
        <div>{{user.position}}</div>
      </td>
    </tr> -->
    <tr>
      <td>
        <button (click)="delete(user)">Delete Applicant</button>
      </td>
    </tr>
  </table>
  <br>
</div>
</body>
</html>
